{%extends 'base.html'%}
{%block content%}
<div class="detail-container">
    <h1 class="detail-title">{{ datas.title }}</h1>
    {% if datas.price %}
    <div class="detail-price">${{ datas.price }}</div>
    {% endif %}
    
    <div class="detail-description">
        {{ datas.description }}
    </div>
    
    <a href="{% url 'post_listview' %}" class="back-button">← Back to Posts</a>
    <a href="{% url 'post_updateview' pk=datas.id %}">Update</a>
    <a href="{% url 'post_deleteview' pk=datas.id %}">Delete</a>
</div>
{%endblock%}