{%extends 'base.html'%} {%block content%}
<div class="register-container">
    <!-- Corner decorations -->
    <div class="corner corner-tl"></div>
    <div class="corner corner-tr"></div>
    <div class="corner corner-bl"></div>
    <div class="corner corner-br"></div>
    
    <!-- Pixel art decoration -->
    <div class="pixel-art">
        <div class="pixel pixel-blue"></div>
        <div class="pixel pixel-purple"></div>
        <div class="pixel pixel-pink"></div>
        <div class="pixel pixel-purple"></div>
        <div class="pixel pixel-blue"></div>
    </div>
    <h2 class="register-title">Player Register</h2>
<form method="POST" action="" class="register-form">
    {% csrf_token %}
    {% for field in form %}
        <div>
            <label for="{{ field.id_for_label }}">{{ field.label }}</label>
            {{ field }}
            {% if field.errors %}
                {{ field.errors }}
            {% endif %}
        </div>
        {% endfor %}
    <input type="submit" value="REGISTER PLAYER" class="submit-btn">
</form>


{%endblock content%}